.board-list-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: flex-start;
}

.list-wrapper {
    min-width: 280px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 30px 10px;
    padding: 10px;
    flex: 1 1 auto;
}

.list-title {
    text-align: center;
    margin: 0 0 10px 0;
}

.board-list {
    list-style: none;

    padding: 0;
    margin: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.dropdown-wrapper {
    position: relative;
    display: inline-block;
}

.dropdown-wrapper .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

.dropdown-wrapper:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    padding: 5px 15px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f5f5f5;
}
