/* checklist-form-popup.css */

.check-list-form-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-list-form-popup-content {
    width: 90%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.check-list-form-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: 1px;
    border-radius: 50%;
    padding: 3px 10px;
    cursor: pointer;
    font-size: 20px;
    color: #ccc;
}

.check-list-form-close-button:hover {
    background: #ccc;
    color: #000;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .check-list-form-popup-content {
        width: 95%;
        max-width: 350px;
    }
}
